
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebAppBasite.Models.ViewModel.HomeViewModels
@using System.Data
@using WebAppBasite.App_Code
@using WebAppBasite.Common.Lib

@*@section headermeta{
        <meta property="og:url" content="http://saohathanh.com/@(Model.DetailNews.cate_slug)/@(Model.DetailNews.Slug).html" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@Model.DetailNews.Title" />
        <title>@Model.DetailNews.Title</title>
        <meta property="og:description" content="@Model.DetailNews.Summary" />
        <meta property="og:image" content="@(PLibs.GetAdminUrl()+Model.DetailNews.Thumbnail)" />
        <meta property="og:image:width" content="320">
        <meta property="og:image:height" content="180">
        <link href="http://saohathanh.com/@(Model.DetailNews.cate_slug)/@(Model.DetailNews.Slug).html" rel="canonical" />

    }*@
<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><span>Trang chủ</span></li>

            <li class="active"><span>Video khách hàng </span></li>
        </ol>
    </div>
</div>
<div class="detail">
    <div class="container">
        <div class="col-sm-12 col-md-12 main-detail">
            <div class="col-md-9 col-md-push-3 box-content">
                <h1 class="title-detail">@Model.DetailNews.Title</h1>
                <div class="post_info ">
                    <span class=""><i class="fa fa-calendar" aria-hidden="true"></i>Ngày đăng: @Clibs.UnixTimeStampToDateTime(double.Parse(Model.DetailNews.CreatedAt.ToString())).ToString("HH:mm dd/MM/yyyy")</span>
                    <span class=""><i class="fa fa-eye"></i> Luợt xem :@Model.DetailNews.view_total</span>
                </div>
                <div class="noidung">
                    @Html.Raw(
                            Model.DetailNews.FullContent
                            .Replace("\\", "/")
                            .Replace("\"/UserData/0", "\"" + PLibs.GetAdminUrl() + "/UserData/"+"0" )
                            .Replace("; font-size: 16px;margin: auto; line - height: 20px !important;", "")
                            )
                </div>
                <div class="post_info ">
                    <span class=""><i class="fa fa-arrow-left" aria-hidden="true"></i>Về trang trước</span>
                    <span class=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Gửi Mail</span>
                    <span class=""><i class="fa fa-print" aria-hidden="true"></i> In trang</span>
                </div>
                <div class="another-post">
                    <h3>
                        các bài viết khác
                    </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news-list">
                                <div class="news-list-item">
                                    <div class="img-wrapper">
                                        <a href="#" class="thumb">
                                            <img src="/img/another-1.png" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="ano-info-2">
                                        <h6 class="title-ano"> <a href="#">Các phương pháp triệt lông vĩnh viễn bằng công nghệ cao</a> </h6>
                                        <p>
                                            Sau bức thư “chưa vơi nụ cười đã rơi nước mắt”, nhiều
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-list">
                                <div class="news-list-item">
                                    <div class="img-wrapper">
                                        <a href="#" class="thumb">
                                            <img src="/img/another-1.png" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="ano-info-2">
                                        <h6 class="title-ano"> <a href="#">Các phương pháp triệt lông vĩnh viễn bằng công nghệ cao</a> </h6>
                                        <p>
                                            Sau bức thư “chưa vơi nụ cười đã rơi nước mắt”, nhiều
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-list">
                                <div class="news-list-item">
                                    <div class="img-wrapper">
                                        <a href="#" class="thumb">
                                            <img src="/img/another-1.png" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="ano-info-2">
                                        <h6 class="title-ano"> <a href="#">Các phương pháp triệt lông vĩnh viễn bằng công nghệ cao</a> </h6>
                                        <p>
                                            Sau bức thư “chưa vơi nụ cười đã rơi nước mắt”, nhiều
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-list">
                                <div class="news-list-item">
                                    <div class="img-wrapper">
                                        <a href="#" class="thumb">
                                            <img src="/img/another-1.png" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="ano-info-2">
                                        <h6 class="title-ano"> <a href="#">Các phương pháp triệt lông vĩnh viễn bằng công nghệ cao</a> </h6>
                                        <p>
                                            Sau bức thư “chưa vơi nụ cười đã rơi nước mắt”, nhiều
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div class="side-menu">

                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="brand-wrapper">
                                <!-- Hamburger -->
                                <div class="brand-name-wrapper">
                                    Câu chuyện khách hàng
                                </div>

                            </div>
                        </div>
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li><a href="#"> Video Khách hàng</a></li>
                                <li><a href="#"> Hình ảnh khách hàng</a></li>
                                <li><a href="#"> Tâm sự khách hàng</a></li>
                                <!-- Dropdown-->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        Tin tức <span class="caret"></span>
                                    </a>
                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Kiến thúc làm đẹp</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Sự kiện nổi bật Sao Hà Thành</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Lời khuyên của chuyên gia</a></li>
                                                <!-- Dropdown level 2 -->
                                                @*<li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                                </a>
                                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{ 
<script>
    $(".noidung img").lazyload({
        effect: "fadeIn"
    });
 </script>
}
