
@model WebAppBasite.Models.NewsViewModels.NewsCategoriesViewModels
@{
    ViewData["Title"] = "NewsTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menuheader{
    @await Component.InvokeAsync("Menu")
}
@section headermeta{
    <title>Thẩm mỹ viện Sao Hà Thành - Từ khóa @ViewBag.Keyword</title>
    <meta property="og:url" content='http://saohathanh.com/@(ViewBag.Keyword).html' />
    <meta property="og:type" content="article" />
    <meta property="og:title" content='Thẩm mỹ viện Sao Hà Thành - Từ khóa @ViewBag.Keyword' />
    <meta property="og:description" content='Thẩm mỹ viện Sao Hà Thành - Từ khóa @ViewBag.Keyword' />
}

<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active"><span>Trang chủ</span></li>

            <li class="active"><span>kết quả tìm kiếm: @ViewBag.Keyword</span></li>
        </ol>
    </div>
</div>
<section>
    <div class="container">
        <div id="boxCategory" class="resultProductsCats tab-content">
            <div class="tab-pane fade in active">
                <div class="product_tabs_slide owl_design product_tabs_slide_first">

                    @foreach (var item in Model.Data.Results)
                    {
                        var link = "/" + item.cate_slug + "/" + item.Slug + ".html";
                        <ul class="item catedm col-md-4 col-sm-6 col-xs-12  ivt" id="4999421"
                            data-storeid="19287">
                            <li class="item_product item_cate tab_item">
                                <div class="chir_loop loop_item animated zoomIn">
                                    <div class="chir-img insScroll">
                                        <a href="@link"
                                           title="@item.Title">
                                            <img src="@(WebAppBasite.App_Code.PLibs.GetAdminUrl()+ item.Thumbnail )" alt="@item.TenDanhMuc">
                                            @*@Html.Raw(SUtility.GetThumbNail(item.Title, item.Thumbnail, "215x126"))*@
                                            @*<img class="lazy" src="@(ViELearn.TinTuc.App_Code.PLibs.GetAdminUrl()+ item.Thumbnail )"
                                            data-original="@(ViELearn.TinTuc.App_Code.PLibs.GetAdminUrl()+ item.Thumbnail )"
                                            alt="@item.Title" style="display: inline-block;">*@
                                        </a>

                                    </div>
                                    <div class="product-detail clearfix">
                                        <h3 class="pro-name">
                                            <a href="@link"
                                               title="@item.Title">
                                                @item.Title
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }

                </div>
            </div>

        </div>
        @(await Component.InvokeAsync("Pager", Model.Data))
    </div>
</section>



